<h1>Bienvenue !</h1><br>

<h4>Il faut être inscrit et identifié pour profiter des fonctionnalités de ce site.</h4><br>

<h5><a href="<%= new_moussaillon_registration_path %>">Inscription</a></h5><br>

<h5><a href="<%= new_moussaillon_session_path %>">Espace privé</a></h5>
